In [1]:
l = [1,2,3,4,"varsha","GS",45.2]
for i in l:
    print(i)

1
2
3
4
varsha
GS
45.2

In [2]:
l = [1,2,3,4,"varsha","GS",45.2]
for i in l:
    pass

In [3]:
for i in l:
    print(i)
else:
    print("nothing")

1
2
3
4
varsha
GS
45.2
nothing

In [6]:
for i in l:
    if i == 4:
        break
    print(i)
else:
        print("nothing")

1
2
3

In [8]:
s="varsha"
for i in s:
    if i == "h":
        break
    print(i)
else:
    print("nothing")

v
a
r
s

In [10]:
t=(1,2,3,4,5,6,"varsha")
for i in t:
    
    print(i)

1
2
3
4
5
6
varsha

In [11]:
b={4,5,6,7,7,7,7,7,8,"varsha"}
type(b)

set

In [13]:
b

{4, 5, 6, 7, 8, 'varsha'}

In [15]:
#extract values:
d={"key1":"varsha","contact":"varsha.com","position":"xyz"}
for i in d:
    print(d[i])

varsha
varsha.com
xyz

In [17]:
#extract values & keys:
d={"key1":"varsha","contact":"varsha.com","position":"xyz"}
for i in d:
    print(i, ":" ,d[i])

key1 : varsha
contact : varsha.com
position : xyz

In [18]:
#range:
range(9)

range(0, 9)

In [19]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [23]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [24]:
list(range(0,9,-1))

[]

In [25]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [34]:
#extract a design
n=4
for i in range(4):
    for j in range(0,  i+1):
        print("varsha", end="  ")
    print("\n")

varsha

varsha  varsha

varsha  varsha  varsha

varsha  varsha  varsha  varsha

In [59]:
t=(2,23,45,67,65)
len(t)

5

In [60]:
range(len(t))

range(0, 5)

In [61]:
t[3]

67

In [64]:
for i in range(len(t)):
    print(i, ":" ,t[i])

0 : 2
1 : 23
2 : 45
3 : 67
4 : 65

In [65]:
s="ineuron"
for i in range(len(s)):
    print(i, ":", s[i])

0 : i
1 : n
2 : e
3 : u
4 : r
5 : o
6 : n

In [70]:
s="ineuron"
for i in range(len(s)-1, -1, -1):
    print(i, ":", s[i])

6 : n
5 : o
4 : r
3 : u
2 : e
1 : n
0 : i

In [71]:
l

[1, 2, 3, 4, 'varsha', 'GS', 45.2]

In [74]:
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)

In [75]:
l1

[1, 2, 3, 4]

d = {1:2276555, "name":"varsha", "email_id":"varsha.com", 234:"dfdhttfdg", 43:"657"}

In [77]:
d= {1:234533, "name":"varsha", "email_id":"varsha.com" , 234:"dfsfd", 43:"456"}
for i in d:
    if type(i) == int:
        print(i, ":", d[i])

1 : 234533
234 : dfsfd
43 : 456

In [78]:
d= {1:234533, "name":"varsha", "email_id":"varsha.com" , 234:"dfsfd", 43:"456"}
for i in d:
    if type(i) == str:
        print(i, ":", d[i])

name : varsha
email_id : varsha.com

In [79]:
d= {1:234533, "name":"varsha", "email_id":"varsha.com" , 234:"dfsfd", 43:"456"}
for i in d:
    if type(i) == str:
        print(i, ":", d[i])
    if type(i) == int:
        print(i, ":", d[i])

1 : 234533
name : varsha
email_id : varsha.com
234 : dfsfd
43 : 456

In [83]:
s = "sfgtggggrddhjj"
set(s)

{'d', 'f', 'g', 'h', 'j', 'r', 's', 't'}

In [84]:
for i in set(s):
    print(i, ":", s.count(i))

d : 2
g : 5
f : 1
h : 1
j : 2
s : 1
r : 1
t : 1

In [88]:
#extract all the 3:
t=([1,2,3,4],"varsha",(4,3,4,5,),{"key1":"varsha"})
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                print(j)

3
3

In [90]:
d={4:5,"key1":"varsha","key2":"GS"}
for i,j in d.items():
    print(i)

4
key1
key2